body {
  padding: 0 !important;
  margin: 0 !important;
}

.test {
  width: 100%;
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.939);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 90px;
  justify-content: center;
  align-items: center;
}
.test_btn {
  background-color: bisque;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 500;
}
.test_btn3 {
  background-color: bisque;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  z-index: 500;
}
.test_btn4 {
  background-color: bisque;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.index_container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* 광고판 */
.ad_container {
  background-image: url('https://i.ytimg.com/vi/7i2Vy3PpndU/sddefault.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 80%;
  height: 100vh;
}

/* 대기판 */
.waiting_container {
  width: 20%;
  height: 100vh;
}

/* 세차중 */
.doing_num_container {
  width: 100%;
  height: 50vh;
}

.doing_num_title_container {
  width: 100%;
  height: 15%;
}
.doing_num_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  font-size: 30px;
  border: 1px solid lightgray;
}
.doing_num_number_container {
  width: 90%;
  height: 75%;
  padding: 5%;
}
.doing_num_number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 5% 0;
}

/* 대기중 */
.waiting_num_container {
  width: 100%;
  height: 50vh;
}

.waiting_num_title_container {
  width: 100%;
  height: 15%;
}
.waiting_num_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  font-size: 30px;
  border: 1px solid lightgray;
}
.waiting_num_number_container {
  width: 90%;
  height: 75%;
  padding: 5%;
}
.waiting_num_number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 5% 0;
}